*{
    margin: 1;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #4C3A51;
}

form{
    position: absolute;
    padding: 20px;
    top: 20vh;
    left: 70vh;
    height: 40vh;
    width: 30vw;
    align-items: center;
    background-color: #FFDCAE;
    border-radius: 10px;
}

form input{
    margin: 1vw;
    width: 50%;
    height: 5vh;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-left: 90px;
}

form button {
    height: 7vh;
    border-radius: 10px;  
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-left: 25vh;
    cursor: pointer;
}

form button a{
    text-decoration: none;
}

@media screen and (max-width:600px){
    form {
        position: absolute;
        top: 40vw;
        left: 10vw;
        width: 70vw;
        }
    form button {
        height: 5vh;
        border-radius: 8px;
        padding: px;
        cursor: pointer;
        margin-left: 16vh;
    }

    
}